/* html {
    font-size: 16px;
    font-family: "Montserrat",  sans-serif;
    font-weight: 200;
    min-width: 493px;
    margin: 0; 
}

h1 {
    font-family: "Rubik", sans-serif;
    font-weight: 800;
    color: #504F4F;
    font-size: 3rem;
    text-shadow: 1px 1px 1px #000000;
}

.center {
    text-align: center;
}

img {
    height: 100px;
} */

html {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */
/* 
.logo-mob {
    display: none;
}

.background-main-page {
    background-image: url(../img/landing\ page.png);
    height: 100svh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

header {
    
    height: 5.3125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5.875rem;
    margin: 0;
    position: relative;
}

header .logo {
    height: 5rem;
    display: flex; 
}

header ul {
    display: flex;
    position: absolute;
    right: 13rem;
    gap: 1rem;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 200;
}

header a {
    color: #ffffff;
}

header a:hover {
    color:#FF5C00;
}

header a:active {
    color: rgb(129, 129, 129);
}

header button {
    border: 1px solid #FF5C00;
    padding: 0.2rem 1.2rem;
    font-size: 1.4rem;
    font-weight: 100;
    text-align: center;
    border-radius: 0.7rem;
    background-color: #dc000000;
    color: #FF5C00;
    cursor: pointer;
}

header button:hover {
    background-color: #ffffff;
}

header button:active {
    border: 1px solid #ffffff;
    background-color: #722FFF;
    color: #ffffff;
}

@media only screen and (max-width:814px) {
    header {
        padding: 0 1.875rem; 
    }
    header .logo {
        height: 9rem;       
    }
    header ul {
        right: 9rem;
        font-size: 1.2rem;
    }
    header button {
        font-size: 1.2rem;
        padding: 0.1rem 1rem;
        margin-right: 1rem;
        border-radius: 0.5rem;
    }
}


@media only screen and (max-width:568px) {
    header .logo {
        display: none;
    }

    header .logo-mob {
        display: flex;
    }
    
    header {
        padding: 0 1.875rem; 
    }
    header .logo-mob {
        height: 5rem;       
    }
    header ul {
        right: 9rem;
        font-size: 1.2rem;
    }
    header button {
        font-size: 1.2rem;
        padding: 0.1rem 1rem;
        margin-right: 1rem;
        border-radius: 0.5rem;
    }
} */


/* .container {
    max-width: 75rem;
    padding: 0 0.8rem;
    margin: 0 auto;
    
    height: 100%;
} */

.header {
    background-image: url(../img/landing\ page.png);
    background-repeat: no-repeat;
    background-position: 60% 80%; /* from the left of the container and from the top*/
    background-size: cover;
    height: 100svh;
    
}

/* .header img {
    height: clamp(3rem, 4vw + 1rem, 5rem);
   
} */

/* .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .header__text-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

/* .header__list, nav {
    display: flex;
    gap: 2rem;
} */

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    height: 100%; /* % from parent's container */
    width: clamp(20rem, 50vw, 50rem);
    width: min(200px + 20%, 10000px);
    width: max(700px, 40%, 50vh);
}

.header__content h1 {
    font-family: "Rubik", sans-serif;
    font-weight: 800;
    color: #ffffff;
    font-size: 3rem;
    text-shadow: 1px 1px 1px #000000;
    font-size: clamp(2rem, 4vw + 1rem, 4.5rem);
}

.header__content p {
    font-size: 1.35rem;
    color: #ffffff;
    font-weight: 200;
}

/* MAIN PAGE */

/* .text-main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 30%; 
    margin: 0 5.875rem;
    gap: 3.75rem ;
    width: 50%;
}

.text-main-page h1 {
    font-family: "Rubik", sans-serif;
    color: #ffffff;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px #3c3c3c;
}

.text-main-page h2 {
    font-size: 1.5rem;
    font-weight: 200;
    width: 90%;
}

.text-main-page button {
    border: 1px solid #ffffff;
    padding: 0.8rem 1.8rem;
    font-size: 1.9rem;
    font-weight: 100;
    border-radius: 1.3rem;
    background-color: #FF5C00;
    color: #ffffff;
    margin-left: 4rem;
    cursor: pointer;
}

.text-main-page button:hover {
    border: 1px solid #FF5C00;
    background-color: #ffffff;
    color: #FF5C00;
}

.text-main-page button:active {
    border: 1px solid #ffffff;
    background-color: #722FFF;
    color: #ffffff;
}


@media only screen and (max-width:971px) {
    .text-main-page {
        top: 25%; 
        gap: 2.75rem ;
        margin: 0 3.875rem;
    }
    .text-main-page h1 {
        font-size: 3rem;
    }
    .text-main-page h2 {
        font-size: 1.3rem;
    }
    .text-main-page button {
        padding: 0.6rem 1.6rem;
        font-size: 1.6rem;
        border-radius: 1rem;
        text-wrap: nowrap;
    }
}


@media only screen and (max-width:568px) {
    .text-main-page {
        top: 30%; 
        width: 100%;
        margin: 0 1.9rem;
        display: flex;
    }
    .text-main-page h1 {
        font-size: 2.5rem;
        width:70%;
    }
    .text-main-page h2 {
        font-size: 1.3rem;
        width: 90%;
    }
    .text-main-page button {
        padding: 0.5rem 0.9rem;
        font-size: 1.5rem;
        border-radius: .8rem;
        text-wrap: nowrap;
    }
} */


/* SERVICES */

/* #service {
    padding: 4.875rem 7.875rem 5.875rem;
    max-width: 100%;
}

.container-service-all {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.container-service {
    display: flex;
    gap: 8rem;
    justify-content: center;
    
}

#service h2 {
    font-size: 1.4rem;
    color: #000000;
    font-weight: 400;
    
}

#service h3 {
    font-size: 1.2rem;
    color: #000000;
    font-weight: 400;
    font-style: italic;
    padding-top: 2.4rem;
    width: 100%;
    height: 2rem;
    
}

#service p {
    font-size: 1.1rem;
    font-weight: 250;
    padding-top: 1rem;
    
}

.service {
    max-width: 15rem;
    min-width: 10rem;
}

@media only screen and (max-width:895px) {
    #service {
        padding: 3.875rem 4.875rem 4.875rem;
    }
    .container-service {
        gap: 4rem;
    }
    #service h1 {
        font-size:2.5rem;
    }
    #service h2 {
        font-size: 1.2rem;
    }
    #service h3{
        font-size: 1.1rem;
        font-weight: 500;
    }
    #service p{
        font-size: 1rem;
        font-weight: 
    }
    .service {
        min-width: 9rem;
        max-width: 10rem;
    }

    .service img {
        height: 5rem;
    }
}

@media only screen and (max-width:633px) {
    #service {
        padding: 3.875rem 2.875rem 4.875rem;
        
    }
    .container-service {
        gap: 3rem;
        flex-wrap: wrap;
    }
    #service h1 {
        font-size:2.2rem;
    }
    #service h2 {
        font-size: 1.2rem;
    }
    #service h3{
        font-size: 1.2rem;
        font-weight: 500;
        width: 100%;
    }
    #service p{
        font-size: 1.1rem;
        font-weight: 
    }
    .service {
        min-width: 19rem;
        
    }

    .service img {
        height: 6rem;
    }
} */


/* TEAM */

/* #team {
    background-image: url(../img/team-background.jpg);
    background-size: cover;
    background-position: right;
    padding: 4rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#team .container-employees {
    margin: 5rem 0;
    gap: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.empl-cont-img {
    width: 16.75rem;
}

 .member img {
   width: 100%;
   height: auto;
   border: 1px solid #ffffff;
   
 }

.member {
    width: 14.75rem;
    height: 32rem;
    padding: 2.5rem;
    background-color: hsl(0, 0%, 100%, 0.4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.member h3 {
    font-size: 1.6rem;
    font-weight: 300;
    padding: 0.6rem 0;
}

.member p {
    font-size: 1.3rem;
    font-weight: 200;
}

@media only screen and (max-width:895px) {
    #team .container-employees {
        margin: 2.5rem 0;
        gap: 2rem;
    }
    .empl-cont-img {
        width: 10.75rem;
        
    }
    .member {
        width: 9.75rem;
        height: 24rem; 
        padding: 2.3rem;
    }

    #team h1{
        font-size: 2.5rem;
    }
    .member h3 {
        font-size: 1.5rem;
        font-weight: 300;
        padding: 0.2rem 0;
    }
    .member p {
        font-size: 1.1rem;
        font-weight: 200;
    }
}

@media only screen and (max-width:633px) {
    #team .container-employees {
        margin: 2.5rem 0;
        gap: 2.5rem;
    }    
    .empl-cont-img {
        width: 10rem;
    }
    .member {
        width: 9.75rem;
        height: 21.2rem; 
        padding: 2.1rem;
        
    }
    #team h1{
        font-size: 2.2rem;
    }
    .member h3 {
        font-size: 1.3rem;
        font-weight: 300;
        padding: 0.6rem 0;
    }
    .member p {
        font-size: 1rem;
        font-weight: 200;
    }

} */


/* CONTACTS */

/* footer {
    display: grid;
    grid-template: 1fr 1fr 1fr 0.5fr / minmax(2rem,1fr) 0.3fr 1fr 1fr;
    position: relative;
    height: auto;
    width: 100%;
    
}

footer .logo {
    grid-area: 1/ 1/ span 3/ span 2;
    width: 50%;
    height: auto;
    justify-self: center; 
    margin:auto 0; 
    float: left;
    
}

footer .h1 {
    grid-area: 1/ 3/ span 1/ span 2;
    justify-self: center;
    padding-top: 3rem;
}

.communication-type {
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.communication-type img {
    height: auto;
    width: 3rem;
    margin-left: 1rem;
}

.communication-type h3 {
    font-size: 1.3rem;
    font-weight: 300;
    padding-right: 1rem;
}


.container-copyright {

    background: linear-gradient(to right, #C39479, #66514C );
    grid-area: 4/ 1/ span 1/ span 4;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 1rem;
    padding: 1.7rem 0;
    padding-left: 1rem;
    
}

@media only screen and (max-width: 950px) {
    footer {
        grid-template: 1fr 1fr 1fr 0.3fr / minmax(2rem,1fr) 0.1fr 1fr 1fr;
    }
    
    footer .logo {
        width: 70%;    
    }
    footer h1 {
        font-size: 2.5rem;
        padding-top: 0;
    }
    .communication-type img {
        height: auto;
        width: 2rem;      
    }
    .communication-type h3 {
        font-size: 1.1rem;
        font-weight: 300;
    }
    .container-copyright {

        text-align: center;
        font-size: 1rem;
        padding: 1.3rem 0;
    }


}

@media only screen and (max-width: 757px) {
    footer .logo {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
    footer h1{
        font-size: 2.2rem;
        text-align: center;
        margin: 1rem;
    }

    footer .h1 {
        padding-top: 0.5rem;
    }

    .communication-type img {
        height: 1.9rem;
    }
    
    .communication-type h3 {
        font-size: 1.2rem;
        font-weight: 300;
        width: 14.5rem;

    }

    .communication-type {
        margin:1rem 5rem 1rem;
        
    }
    .container-copyright {

        font-size: 0.9rem;
        padding: 1.2rem 0;
        width: 100%;

    }
} */