* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER */

.hero {
  background-image: url(../img/landing-page.png);
  background-repeat: no-repeat;
  background-position: 60% 80%; /* from the left of the container and from the top*/
  background-size: cover;
  height: 100svh;

  .navbar {
    .navbar-brand {
      display: flex;
      align-items: center;

      img {
        width: 50px;
        min-width: 50px;
        flex-shrink: 0;
      }

      .logo-text-1 {
        font-family: "Rubik", sans-serif;
        font-weight: 800;
        color: #ff5c00;
      }

      .logo-text-2 {
        display: block;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        color: #ffffff;
        line-height: 12px;
      }
    }

    .navbar-toggler {
      background-color: rgba(255, 255, 255, 0.2);
    }

    .navbar-collapse {
      padding-left: 12px;
    }

    li {
      a {
        font-family: "Montserrat", sans-serif;
        color: #ffffff;
        font-weight: 200;
        font-size: 1.2rem;
      }

      a:visited {
        color: #ffffff;
      }

      a:hover {
        color: #ff5c00;
      }

      a:active {
        color: #ffffff;
      }
    }
  }

  .text-main {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-family: "Rubik", serif;
      color: #ffffff;
      font-weight: 800;
      text-shadow: 2px 2px 4px rgb(53, 53, 53); /* offset-x | offset-y | blur-radius | color */
      font-size: clamp(38px, 4vw, 48px);
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-size: clamp(14px, 4vw, 20px);
      color: #ffffff;
      font-weight: 200;
    }

    button {
      padding: 1rem 1.5rem;
      font-size: 1.2rem;
      font-weight: 600;
      border-radius: 0.8rem;
      background-color: #ff5c00;
      color: #ffffff;
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      transition-duration: 0.3s;
      border: none;
    }

    button:hover {
      background-color: #ffffff;
      color: #ff5c00;
    }

    button:active {
      background-color: #722fff;
      color: #ffffff;
    }
  }
}

/* What we offer */

.service {
  h2 {
    font-family: "Rubik", sans-serif, serif;
    color: #4f4f4f;
    font-weight: 700;
    font-size: clamp(32px, 4vw, 42px);
    text-shadow: 2px 2px 5px rgb(130, 130, 130); /* offset-x | offset-y | blur-radius | color */
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(14px, 4vw, 20px);
    color: #4f4f4f;
    font-weight: 400;
  }

  .service-option {
    .container {
      display: flex;
      align-items: center;
      padding: 0;
    }
    p {
      font-size: clamp(12px, 4vw, 16px);
    }
  }

  .service-h3 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: #ff5c00;
    font-weight: 800;
    padding-left: 10px;
    position: relative;
  }

  .line {
    width: 5px;
    height: 25px;
    background-color: #ff5c00;
    border-radius: 30px;
  }

  img {
    width: 110px;
  }
}

/* OUR TEAM */

.our-team {
  padding: 40px 0;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(172, 153, 232, 1) 28%,
    rgba(185, 159, 193, 1) 56%,
    rgba(207, 176, 160, 1) 82%,
    rgba(236, 224, 218, 1) 100%,
    rgba(244, 236, 233, 1) 100%
  );

  img {
    max-width: 100%;
  }

  h2 {
    font-family: "Rubik", sanf-serif, serif;
    font-size: clamp(32px, 4vw, 42px);
    /* font-size: 48px; */
    color: #ffffff;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgb(118, 118, 118); /* offset-x | offset-y | blur-radius | color */
  }

  .employees {
    justify-content: space-between;
  }

  h3 {
    font-size: clamp(20px, 4vw, 24px);
    font-family: "Montserrat", sans-serif;
    color: #3d3c3c;
    font-weight: 400;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(12px, 4vw, 16px);
    color: #4f4f4f;
    font-weight: 400;
    /* width: 70%; */
  }

  .employee {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 5px 5px 5px rgba(142, 142, 142, 0.5);
    border-radius: 30px;
    padding: 35px;
    margin: 0 auto;
  }

  .employee:hover {
    background-color: rgba(159, 104, 231, 0.5); 
    transform: scale(1.1);
    transition: transform  0.7s ease;

  }
  
  .employee:hover p,
  .employee:hover h3 {
    color: white; 
  }
  

  .employees {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  img {
    width: 300px;
  }
}

/* CONTACT */

.footer {
  background: rgb(252, 252, 252);
  background: linear-gradient(
    0deg,
    rgba(252, 252, 252, 1) 5%,
    rgba(222, 215, 246, 1) 39%,
    rgba(218, 209, 250, 1) 56%,
    rgba(236, 224, 218, 1) 92%
  );

  font-family: "Montserrat", sans-serif;
  color: #4f4f4f;

  a {
    color: #4f4f4f;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  a:hover {
    color: #ff7f50;
  }

  .form-control {
    background-color: #ffffff;
    color: #f8f9fa;
    border: none;
  }

  .form-control::placeholder {
    color: #ced4da;
  }

  button {
    background-color: #ff5c00;
    border: 1px solid #ff5c00;
    color: white;
    transition: background-color 0.3s ease;
    padding: 0.1rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    transition-duration: 0.3s;
  }

  button:hover {
    border: 1px solid #ff5c00;
    background-color: #ffffff;
    color: #ff5c00;
  }

  button:active {
    border: 1px solid #ffffff;
    background-color: #722fff;
    color: #ffffff;
  }

  h5 {
    color: #ff5c00;
    font-weight: 800;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .our-team {
    .employees {
      grid-template-columns: repeat(2, 1fr);
      gap: 80px;
    }
    .employee {
      padding: 50px 35px;
    }
  }
}

@media screen and (max-width: 768px) {
  .service-option {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    p {
      text-align: center;
    }

    img {
      margin: 0 auto;
      display: block;
    }

    h3 {
      text-align: center;
    }
  }

  .our-team {
    .employees {
      grid-template-columns: 1fr;
      gap: 20px;
    }
    .employee {
      max-width: 300px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .text-main {
    div {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 425px) {
  .text-main button {
    width: 100%;
  }
}
